/* Receiver Details */
.receiver-details dd {
    margin-top: 10px;
}

.receiver-details dt {
    margin-top: 10px;
}

.receiver-image {
    width: 200px;
    float: right;
    border-radius: 5px;
}

.thumbnail {
    width: 110px;
    height: 110px;
    vertical-align: middle;
    display: table-cell;
    /* TODO: set right space */
}
